/*! REGOLE GENERALI */

/** RESET PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** STILE PRINCIPALE TESTO */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/*! CLASSI RIUTILIZZABILI */

/** SPAZIATURE GENERALI */
.padding-top-bottom {
    padding: 80px 0;
}

.padding-bottom {
    padding-bottom: 5px;
}

.padding-top {
    padding-top: 5px;
}

/** CONTENITORE PAGINA */
.container {
    max-width: 70%;
    margin: 0 auto;                                             /* Centratura orizzontale contanitore principale pagina */
}

/** STILE TESTO */
.text-white {
    color: white;
}

.text-red {
    color: red;
}

.text-end {
    text-align: end;
}

.font-small {
    font-size: 12px;
}

.font-extra-small {
    font-size: 10px;
}

.font-bold {
    font-weight: bold;
}


/*! REGOLE FLEXBOX */
.flex-container-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.cross-axis-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;                                        /* Manda gli item a capo quando non c'è più spazio nel contenitore */
}

.gap {
    gap: 12px;
}


/*! INTESTAZIONE PAGINA */
header {
    position: fixed;
    top: 0;
    z-index: 1;                                             /* Mantiene l'header sopra agli altri elementi che di default hanno x-index: 0; */
    width: 100%;
    background-color: rgb(245, 101, 12);
}

nav {
    height: 45px;
}

.logo {
    width: 80px;
}

/*! CONTENUTO PRINCIPALE */

.item-griglia-articoli {
    flex-basis: calc((100% - 24px) / 3);                        /* Ogni item occupa 1/3 della larghezza disponibile, sottraendo 24px totali di gap orizzontale */
}

/** ARTICOLI D'ABBIGLIAMENTO */
.img-article {
    max-width: 100%;
}

/* Immagini articoli in hover */    
                                        /* Nota. non conviene questa soluzione per questioni di ordine */
.img-article1:hover {
    content: url(../img/1.webp);  /* Cambia l'immagine in status hover */
}

.img-article2:hover {
    content: url(../img/2.webp);       
}

.img-article3:hover {
    content: url(../img/3.webp);
}

.img-article4:hover {
    content: url(../img/4.webp);
}

.img-article5:hover {
    content: url(../img/5.webp);
}

.img-article6:hover {
    content: url(../img/6.webp);
}

/** ICONA PREFERITI */
article {
    position: relative;
}

.icona-preferiti {
    background-color: white;
    font-size: 22px;
    width: 30px;
    height: 30px;
    text-align: center;

    /* Posizionamento icona preferiti */
    position: absolute;
    top: 0;
    right: 0;
}

.icona-preferiti:hover {
    color: red;
    cursor: pointer;
}

/** ETICHETTE */
.etichette div {
    display: inline;
    font-size: 7px;
    width: 24px;
    padding: 2px 2px;
    color: white;

    /* Posizionamento container etichette */
    position: relative;
    bottom: 35px;
}

.etichetta-sconto {
    background-color: red;
    margin-right: 5px;
}

.etichetta-sostenibilita {
    background-color: green; */
}

/** DESCRIZIONE ARTICOLO */
.descrizione-articolo {
    position:relative;
    bottom: 10px;
}

/*! PIE' DI PAGINA */
footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
}

footer > div {
    height: 50px;
}